.dropStyle {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  padding: 0 100px;
  padding-top: 1rem;
  margin: auto;
  background-color: yellow;
  border: 1px solid black;
  width: 400px;
  min-height: 100vh;
}
